.capa {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    justify-content: center;
}

@media screen and (min-width: 900px) {
    .capa {
        flex-direction: row;
        height: calc(100vh - 86px);
    }
}