:root{
    --font-nav:'Raleway', cursive;
    --font-subtTitle: 'Montserrat', sans-serif;
    --font-title: 'Hamster', cursive;
    --font-body: 'Montserrat', sans-serif;

    --cor0: #FEFEFE;
    --cor1: #000000;
    --cor2: #2b2b2b;
    --cor3: #EBBD7C;
    --cor5: #20384A;
}