@font-face {
    font-family: 'Montoserrat';
    src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'meu-nome';
    src: url(../font/Tangerine-Regular.ttf);
}
:root {
    --montserrat: 'Montserrat', sans-serif;
    --roboto: 'Roboto';
    --meu-nome: 'meu-nome';
}