.logo {
    color: var(--cor0);
    font-family: var(--meu-nome);
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.568);
    padding-left: 1rem;
    width: calc(100% - 80px);
}

.logo--off {
    display: none;
}

@media screen and (min-width: 900px) {
     .logo {
        font-size: 3rem;
     }
}