

@media screen and (min-width: 900px) {
    .principal {
        width: 900px;
        margin: auto;
    }
}

@media screen and (min-width: 1000px) {
    .principal {
        width: 1000px;
        margin: auto;
    }
}