.tituloPrincipal {
    background-color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor3), var(--cor0));
    font-family: var(--montserrat);
    font-size: 1.3rem;
    font-weight: bold;
    
    padding: .8rem;

}