.caixa {
    background-color:var(--cor2);
    margin-bottom: 2rem;
    width: 70%;
    height: 200px;
}

.caixa:first-child {
    margin-top: 2rem;
}

@media screen and (min-width: 900px) {
    .caixa {
        width: 200px;
        margin-right: 2rem;
        margin-top: 2rem;
    }

}